body {
    background : cyan
}

p
{
    background : green
}

#para {
    background : rgba(21, 77, 160, 0.568)   
       /* Custom color selected using the square checkbox */
       /* rgba --> red green blue alpha(intensity or darkness)*/
       /* Shorthand --> Declaring properties in a single line. */
}

.pink {
    background : pink
}

.ljk{
    color :rgb(255, 0, 0);
}

